*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 html, body{
    overflow-x: hidden;
 }

.mainBox-TextImage{
width: 70%;
height: 500px;
display: flex;
border: 2px solid green;
margin: auto;
justify-content: space-between;
}
.controlImage{
width: 48%;
height: 100%;
object-fit: cover;
}
.text{
    width: 48%;
    height: 100%;
    background-color: lightgray;
    padding: 50px;
}
.Main-ControlButtonDot{
    width: 70%;
    margin: auto;
    display: flex;
  
}
.controlBothButton{
    width: 50%;
    padding-top: 30px;
    display: flex;
    align-items: center;


}
.controlBothButton button{
padding: 20px;
border: none;
border-radius: 30px;
margin: 0px 5px;
}
.controlAllDot{
    width: 50%;

    display: flex;
 justify-content: center;
 align-items: center;
 
}
.controlAllDot p{
    padding: 0px 10px;
   color: red;
}